{% extends 'base.html' %}

{% block title %}
Admin Edit
{% endblock title %}

{% block body %}
    <div class="row">
      <div class="row" style="width: 100%; text-align: center">
          <h1>Edit Account</h1>
      </div>
    </div>

    <div class="row" style="height: 100px"></div>

    <form action="#" method="post">
        <div>
          {{ form.hidden_tag() }}
          {{ form.user(type="hidden") }}
          {{ form.item(type="hidden") }}

          <div class="form-floating">
              <!--<button class="btn btn-primary" style="margin-left: 15%; margin-right: 15%; width: 70%; height: 60px; font-size: 20px" type="button">Change Password</button>-->
              <div class="row" style="width: 100%; text-align: center">
                  <h4 style="color: black">{{ item }}</h4>
              </div>
              {{ form.submit(class="btn btn-warning", style="margin-left: 15%; margin-right: 15%; width: 70%; height: 60px; font-size: 20px") }}
          </div>
      </div>
    </form>
{% endblock body %}