<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% block meta %}
    {% endblock meta %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="card mb-3" style="max-height: 100%;">

  <div class="row g-0">
    <div class="col-md-8" >
      <img src="{{ url_for('static', filename='img/background.png') }}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-4">

        {% include "toast.html" %}

      <div class="card-body" style="padding-top: 23%">
          {% block body %}
          {% endblock body %}
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom bg-light">
    {% include "footer.html" %}
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>