{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock title %}

{% block body %}
  <div class="row">
      <div class="row" style="width: 100%; text-align: center">
          <h1>Change Password</h1>
      </div>
      <div class="row" style="width: 100%; text-align: center">
          <h6 style="color: gray">Time to change your password</h6>
      </div>
  </div>

  <div class="row" style="height: 100px"></div>

    <form action="#" method="post">
        <div>
          {{ form.hidden_tag() }}
          <div class="form-floating mb-3" style="margin-left: 15%; margin-right: 15%">
              {{ form.current_password(class="form-control", id="floatingPassword", placeholder="Password", type="password") }}
              {{ form.current_password.label(for="floatingPassword") }}

              {% if form.current_password.errors %}
                  <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.password.errors %}
                            <li>
                                {{ e | safe }}
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
              {% endif %}
          </div>

          <div class="form-floating mb-3" style="margin-left: 15%; margin-right: 15%">
              <!--<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>-->
              {{ form.password(class="form-control", id="floatingPassword", placeholder="Password", type="password") }}
              {{ form.password.label(for="floatingPassword") }}

              {% if form.password.errors %}
                  <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.password.errors %}
                            <li>
                                {{ e | safe }}
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
              {% endif %}
          </div>

          <div class="form-floating mb-3" style="margin-left: 15%; margin-right: 15%">
              <!--<input type="password" class="form-control" id="floatingPassword2" placeholder="Password">
              <label for="floatingPassword2">Repeat password</label>-->
              {{ form.password2(class="form-control", id="floatingPassword2", placeholder="Password", type="password") }}
              {{ form.password2.label(for="floatingPassword2") }}

              {% if form.password2.errors %}
                  <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.password2.errors %}
                            <li>
                                {{ e | safe }}
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
              {% endif %}
          </div>

          <div class="form-floating">
              <!--<button class="btn btn-primary" style="margin-left: 15%; margin-right: 15%; width: 70%; height: 60px; font-size: 20px" type="button">Change Password</button>-->
              {{ form.submit(class="btn btn-primary", style="margin-left: 15%; margin-right: 15%; width: 70%; height: 60px; font-size: 20px") }}
          </div>
      </div>
    </form>
    <a href="{{ url_for('dashboard') }}"><button type="button" class="btn btn-outline-secondary" style="width: 70%; height: 60px; font-size: 20px; text-align: center; margin-top: 25px; margin-left: 15%; margin-right: 15%">Back to Dashboard</button></a>

{% endblock body %}