{% extends "email_base.html" %}

{% block body %}
    <div style="padding-top: 20px; font-size: 50px; font-family: Arial">
        <h1>Hi {{ name }}!</h1>
        <h5 style="margin-top: -10px">There was a request to change your password!</h5>
    </div>
    <div style="padding-top: 50px; padding-bottom: 50px; font-size: 25px; font-family: Arial">
        If you did not make this request then please ignore this email.
        <br><br>
        Otherwise, click on the button below <br>
        <a href="{{ link }}"><button style="margin-top: 25px; background-color: darkblue; border: none; width: 250px; height: 50px; color: white; font-size: 20px; border-radius: 20px">Reset your Password</button></a>
        <br><br>
        Or copy and paste the URL into your browser: <div style="font-size: 20px"> {{ link }} </div>
        <br>The link is active for 5 minutes.
    </div>
{% endblock body %}