
<div class="container-fluid">
    <div class="row" style="width: 100%">
      <div class="col" style="text-align: left">
        <h3>Y210 - Εισαγωγή στην Επιστήμη του Ηλεκτρολόγου Μηχανικού</h3>
      </div>
      <div class="col" style="text-align: right">
        <h3>ΣΒΕΡΩΝΗΣ ΣΩΤΗΡΙΟΣ</h3>
          <h6>up1092845</h6>
      </div>
    </div>

    <h6>Θέμα ατομικής εργασίας:
    Flask Να χρησιμοποιήσετε το framework για να αναπτύξετε μια φόρμα
που επιτρέπει εγγραφές νέων χρηστών σε ιστοσελίδα. Οι χρήστες να
αποθηκεύονται σε αρχείο.</h6>

  <br>
  <div class="row" style="width: 100%">
      <div class="col" style="text-align: left">
        <h6>ΤΜΗΜΑ ΗΛΕΚΤΡΟΛΟΓΩΝ ΜΗΧΑΝΙΚΩΝ ΚΑΙ ΤΕΧΝΟΛΟΓΙΑΣ ΥΠΟΛΟΓΙΣΤΩΝ</h6>
      </div>
      <div class="col" style="text-align: right">
        <h6>ΠΑΝΕΠΙΣΤΗΜΙΟ ΠΑΤΡΩΝ</h6>
      </div>
    </div>
</div>
