{% extends "base.html" %}

{% block title %}
Reset your password
{% endblock title %}

{% block body %}
  <div class="row">
      <div class="row" style="width: 100%; text-align: center">
          <h1>Password Reset</h1>
      </div>
      <div class="row" style="width: 100%; text-align: center">
          <h6 style="color: gray">Time to change your password</h6>
      </div>
  </div>

  <div class="row" style="height: 100px"></div>

    <form action="#" method="post">
        <div>
          {{ form.hidden_tag() }}
          <div class="form-floating mb-3" style="margin-left: 15%; margin-right: 15%">
              <div class="mb-3 row">
                <!--<label for="staticEmail" class="col-sm-4 col-form-label">Email address</label>-->
                  {{ form.email.label(for="floatingInput", class="col-sm-4 col-form-label") }}
                <div class="col-sm-8">
                  <!--<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">-->
                    {{ form.email(type="text", readonly=True, class="form-control-plaintext", id="staticEmail") }}
                </div>
              </div>
          </div>

          <div class="form-floating mb-3" style="margin-left: 15%; margin-right: 15%">
              <!--<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>-->
              {{ form.password(class="form-control", id="floatingPassword", placeholder="Password", type="password") }}
              {{ form.password.label(for="floatingPassword") }}

              {% if form.password.errors %}
                  <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.password.errors %}
                            <li>
                                {{ e | safe }}
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
              {% endif %}
          </div>

          <div class="form-floating mb-3" style="margin-left: 15%; margin-right: 15%">
              <!--<input type="password" class="form-control" id="floatingPassword2" placeholder="Password">
              <label for="floatingPassword2">Repeat password</label>-->
              {{ form.password2(class="form-control", id="floatingPassword2", placeholder="Password", type="password") }}
              {{ form.password2.label(for="floatingPassword2") }}

              {% if form.password2.errors %}
                  <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.password2.errors %}
                            <li>
                                {{ e | safe }}
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
              {% endif %}
          </div>

          <div class="form-floating">
              <!--<button class="btn btn-primary" style="margin-left: 15%; margin-right: 15%; width: 70%; height: 60px; font-size: 20px" type="button">Change Password</button>-->
              {{ form.submit(class="btn btn-primary", style="margin-left: 15%; margin-right: 15%; width: 70%; height: 60px; font-size: 20px") }}
          </div>
      </div>
    </form>

{% endblock body %}